# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Virtual environment
venv/

# Environment variables
.env

# OS files
.DS_Store

# ML artifacts
mlruns/
models/

# Data (synthetic now, but good habit)
data/

# Docker
*.log
